* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .body {
  background-color: #F8F9FA;
  color: #212529;
} */
.body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('./bg1.jpg') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.heading {
  margin: 50px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.heading>h1 {
  font-weight: bolder;
  background: #000;
}
.prog-wrapper {
  width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
@media (max-width: 1080px) {
  .body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('./bg1.jpg') no-repeat center center/cover;
  color: white;
  text-align: center;
  /* padding: -100px 20px;  */
  overflow: hidden;
  }
  .container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
  }
  .heading {
    margin: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  h1 {
    font-size: medium;
  }
  .prog-wrapper {
    width: 100%;
  }
}