/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Earth_Western_Hemisphere_transparent_background.png/800px-Earth_Western_Hemisphere_transparent_background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white; /* Ensures text is readable */
    text-align: center;
}
  
  /* Buttons Hover Effect */
  .grow {
    transition: transform 0.3s ease-in-out;
  }
  
  .grow:hover {
    transform: scale(1.1);
  }
  