/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
  }
  
  /* Buttons Hover Effect */
  .grow {
    transition: transform 0.3s ease-in-out;
  }
  
  .grow:hover {
    transform: scale(1.1);
  }
  